.search {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.search__input {
    width: 25%;
    display: flex;
    
    object-position: center;
    background-color: whitesmoke;
};

.search__input > button {
    background-color: yellow;
    
    
}